body {
	background:white;
}
header {
	width:90%;
	max-width:1000px;
	margin:auto;
}
nav {
	background:#0b52af;
	margin-top:20px;
	position: relative;
}
nav ul {
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
}
nav > ul > li {
	float:left;
}
nav ul li a {
	text-decoration:none;
	color:#ffffff;
	display:block;
	padding:10px 20px;
}
nav ul li a:hover {
	background:#6aa5e9;
}
nav > ul > li:hover div {
	display:table;
}
/*Submenu*/
nav ul li div {
	width:1000px;
	position: absolute;
	left:0;
	background:rgb(204, 204, 204);
	box-sizing:border-box;
	display:none;
}
nav ul li div ul{
	width:20%;
	display:table-cell;
	border-right:1px solid rgba(255,255,255,.5);
	box-sizing:border-box;
}
nav ul li div ul:last-child {
	border:none;
}
nav ul li div ul .titulo {
	background:hsl(170, 55%, 50%);
	color:#fff;
}
nav ul li div ul .titulo1 a {
	color:#fff;
	padding:10px 20px;
}
.titulo1 {background:hsl(170, 55%, 50%);}
.titulo2 {background:rgb(255, 117, 4);}
nav ul li div ul .titulo1 a:hover {
	background:none;
}
nav ul li div ul li a {
	color:#000;
}
nav ul li div ul li a:hover {
	color:#fff;
}
img{
    width: auto;
    height: auto;
    margin:auto;
    display:block;
}